/* style of banner */
.banner{
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
    width: 1330px;
    height: 600px;
    justify-content: center;

}


.banner-title{
    width: 500px;
    height: 280px;
    color: #272727;
    padding-top: 50px;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.banner-description{
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 0px;
    margin-top: 0px;
}





.banner-image{
    width: 500px;
    height: 550px;
    padding-top: 50px;
    margin-left: 50px;


}

.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10;
    border-radius: 8px;
    background: #E55473;


    
}

/* style of feature */


.feature{
    width: 1130px;
    margin-left: 85px;
    margin-right: 100px;
}

.feature-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800px;

}


.feature-description{

    color: rgba(39, 39, 39, 0.60); 
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 50px;
}

.feature-image-all{
    display: flex;
    justify-content: center;

}

.f-i-caption{
    display: flex;
    justify-content: center;
}




.feature-image-1{

border-radius: 300px 300px 0px 0px;
background-color: lightpink;
width: 326px;
height: 428px;
margin-left: 15px;
padding: 20px 20px 0px 20px;

}


.feature-image-2{
border-radius: 300px 300px 0px 0px;
background-color: lightskyblue;
width: 326px;
height: 428px;
margin-left: 15px;
padding: 20px 20px 0px 20px;
}


.feature-image-3{
border-radius: 300px 300px 0px 0px;
background-color: lightsteelblue;
width: 326px;
height: 428px;
margin-left: 15px;
padding: 20px 20px 0px 20px;
}



  /* style of hot deal */

.hot-deal{
    background-color: antiquewhite;
    justify-content: center;
    display: flex;
    width: 1130px;
    height: 450px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;

}

.hot-deal-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;;
}
.off{
    color: #E55473;
}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.hot-deal-btn{
    margin-left: 200px;
}



.hot-deal-image{
    width: 318px;
    height: 420px;
    margin-left: 100px;
}


/* style of insta */

.insta-section{
    width: 1130px;
    margin-left: 90px;
    margin-right: 100px;
    margin-bottom: 100px;
}


.insta-title{
color: #272727;
text-align: center;
font-size: 35px;
font-weight: 800;
margin-bottom: 0px;
}
.insta-about{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}


.insta-image-all{
    
    display: flex;
}
.insta-image{
    width: 275px;
    margin-left: 10px;
}



 /* style of get */

  .get{
    width: 1130px;
height: 449px;
border-radius: 8px;
margin-left: 100px;
margin-right: 100px;
padding-top: 100px;
background-repeat: no-repeat;

  }  



.get-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 0px;
}

.get-about{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}

.get-info{
    display: flex;
    justify-content: center;
    
}

.email{
width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
margin-left:0px 5000px 0px 10px;
margin-right: 10px;
}

.placeholder{
    text-align: center;
}
/* style of free delivery */
.free-delivery{
    background-color:rgba(229, 84, 115, 0.10);
    width: 1130px;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: flex;
}


.free-title{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    width: 580px;
    padding-left: 50px;

}

.upto{
    color: #E55473;
}


.delivery-image{
    width: 580px;
    padding-top: 50px;

}
.delivery-boy{
    width: 300px;
}
/* style of flower shop */

.footer{
background-color: black;
width: 1330px;
height: 400px;
padding-top: 100px;


}

.shop-title{ color: #FFF;
text-align: center;
font-size: 48px;
font-weight: 800;

}

.flower{
    color: #E55473;
}


.shop-description{
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 400;

}

.copyright{
color: darkslategray;
text-align: center;
}